body{
  margin: 0;
  background-color: lightgray;
}
.tabs h3{
  color : #592985;
}
.tabs ul{
  padding: 0px;
  margin: 0px;
  display: block;
  list-style-type: none;
  float: left;
  width: 180px;
}
.tabs{
  margin-top: 20px;
  margin-left: 20px;
}
.tabs li:hover{
  background-color: lavender;
  color: black;
}
.tabs li{
  margin-bottom: 3px;
  text-align: left;
  display: block;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 4%;
  border-radius: 9px;
  background-color: #6b5d96;
}
.tabs div{
  display: block;
  background: #efefef;
  float:left;
  width:70%;
  min-height: 400px;
  padding: 30px;
  margin-left: 20px;
  border-radius: 10px;
}
.tabs div article{
  color: #000;
  font-size:18px;   
}
.tabs button{
  color: white;
  border-radius: 7px;
  background-color: #6b5d96;
  width: 65px; 
  float: left; 
}
.tabs table {
  table-layout: fixed;
}
.tabs table td, th{
  text-transform: uppercase;
  color: #6b5d96;
  padding: 5px;
  overflow: hidden;
}
.tabs input[type=button]{
  color: white;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 7px;
  background-color: #6b5d96;
  overflow: hidden;
  float: right;
  margin-top: 5%;
}
.tabs table input[type=button]{
  float: left; 
  padding : 10%;
}
.tabs input[type=button][disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.tabs table input[type=button][disabled]{
  float: left; 
  padding : 5%;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#adminAddBtn{
  margin-top: 0%;
}
#adminTab{
  width : 91%;
}